body{
    background-color: burlywood;
}

.contenedor-grid0{
    display: grid;
    margin: 10px;
    align-items:baseline;
    grid-template-columns: 2fr 1fr;
}

header{
    text-align: center;
    align-items: center;
}

.logo{
    width: 300px;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.items-grid{
    background-color:brown;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}

.items-grid img{
    width: 200px;
}

strong{
    font-size: 25px;
}

.menu-navegacion{
    position:fixed;
}

.links{
    text-decoration: none;
}

.banner img{
    width: fit-content;
}